{% extends 'base.html' %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Hi {{ session_info.short_name }}</h1>
    <div class="col-lg-8 px-0">
        <span>Session UUID: {{ session_info.session_uuid }}</span><br />
        <span>User UUID: {{ session_info.user_uuid }}</span><br />
        <span>User Email: {{ session_info.email }}</span>

        <hr class="my-4">

        <a href="/logout" class="btn btn-primary">Logout</a>
        <a href="/runs/upload" class="btn btn-primary">Upload data</a>
    </div>
</div>
{% endblock %}
