{% extends 'base.html' %}

{% block title %}Account{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>Hi {{ session_info.short_name }}</h1>
    <div class="col-lg-8 px-0">
        <span>Session UUID: {{ session_info.session_uuid }}</span><br />
        <span>User UUID: {{ session_info.user_uuid }}</span><br />
        <span>User Email: {{ session_info.email }}</span>

        <hr class="my-4">

        <a href="/logout" class="btn btn-primary">Logout</a>
        <a href="/runs/upload" class="btn btn-primary">Upload data</a>
        <a href="/account/access-tokens" class="btn btn-primary">Manage API access tokens</a>

        <hr class="my-4">

        {% for session in sessions %}
                <div class="mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Session</h5>
                            <dl>
                                {% if session.ip_addr %}
                                <dt>Last connection IP</dt>
                                <dd>{{ session.ip_addr }}</dd>
                                {% endif %}
                                {% if session.last_active %}
                                <dt>Last activity</dt>
                                <dd>{{ session.last_active }}</dd>
                                {% endif %}
                            </dl>
                            <a class="btn btn-danger" href="/api/v1/sessions/{{ session._id }}/close?redirect=%2Faccount%2Faccess-tokens">Terminate session</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
