<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <title>{{ global_vars.brand }} - {% block title %}{% endblock %}</title>
        <link href="/static/bootstrap.min.css" rel="stylesheet">
        <link href="/static/bootstrap-icons.min.css" rel="stylesheet">
        <link rel="manifest" href="/static/manifest.json" />
    </head>
    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="/static/crab128.png" class="d-block my-1" alt="{{ global_vars.brand }}" style="height: 2em;" /></a>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" href="/projects">Projects</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/runs">Runs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/runs/upload">Upload</a>
                        </li>
                    </ul>
                </div>

                <div class="me-auto" style="height:1em;width:1em;">
                </div>

                <button class="navbar-toggler navbar-end mx-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>


                <a class="btn {{ "btn-outline-light" if session_info is not none else "btn-primary" }} navbar-right" type="button" href="/account">{{ (session_info.short_name ~ "'s Account") if session_info is not none else 'Login' }}</a>


            </div>
        </nav>

        {% block content %}{% endblock %}

        <script src="/static/bootstrap.bundle.min.js"></script>
    </body>
</html>
