{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container my-5">
    <h1>{{ global_vars.long_brand }}</h1>
    <div class="col-lg-8 px-0">
        <p class="fs-5">ML data aggregation.</p>

        <hr class="my-4">

        <a href="/upload" class="btn btn-primary">Upload data</a>
        <!-- <a href="https://github.com/twbs/examples" class="btn btn-secondary">View on GitHub</a> -->
    </div>
</div>

<script src="/static/bootstrap.bundle.min.js"></script>

{% endblock %}
