{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container my-5">
    <h1>{{ global_vars.long_brand }}</h1>
    <div class="col-lg-8 px-0">
        <p class="fs-5">A platform for uploading and distributing machine learning datasets.</p>

        <hr class="my-4">

        <a href="/workspaces/new?hints=NEW_RUN" class="btn btn-primary">Upload data</a>

        <a href="/docs/user-guide" class="btn btn-outline-secondary">Read user guide</a>
    </div>
</div>

{% endblock %}
