{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block content %}
<style>
input[type='number'] {
    -moz-appearance:textfield;
    color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
</style>

<div class="container my-5">
    <h1>Browse projects</h1>
    <div class="my-3">
        <a href="/projects/new" class="btn btn-primary">Create a new project <i class="bi bi-box-seam-fill"></i></a>
    </div>

    <ul class="pagination">
        <li class="page-item">
            <a href="javascript:prevPage();" class="page-link" id="prev_page_top">Previous</a>
        </li>
        <li class="page-item">
            <input type="number" onchange="setPage(this.value)" class="page-link" id="page_number_top" placeholder="1">
        </li>
        <li class="page-item">
            <a href="javascript:nextPage();" class="page-link" id="next_page_top">Next</a>
        </li>
    </ul>

    <div class="mb-3 spinner-container" style="display: none;" id="page_spinner">
        <div class="spinner-border spinner-border-sm" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <span class="spinner-container-text"> Loading data...</span>
    </div>
    <div id="list_view" class="row gx-3"></div>
    <ul class="pagination">
        <li class="page-item">
            <a href="javascript:prevPage();" class="page-link" id="prev_page_bottom">Previous</a>
        </li>
        <li class="page-item">
            <input type="number" onchange="setPage(this.value)" class="page-link" id="page_number_bottom" placeholder="1">
        </li>
        <li class="page-item">
            <a href="javascript:nextPage();" class="page-link" id="next_page_bottom">Next</a>
        </li>
    </ul>
</div>

<input id="class_of_browse_object" value="project" type="hidden" />

<script src="/static/page-specific/page-view.js"></script>
{% endblock %}
