{% extends 'base.html' %}

{% block title %}Project{% endblock %}

{% block content %}
<div class="container my-5">
<div class="gx-3 row">
    <div class="col-12 col-lg-8 mb-3">
        <div class="p-4 border rounded">
            <h1>{{ project_data.identifier if project_data.identifier is defined else "Untitled project" }}</h1>
            <span>{{ project_data.description }}</span>

            <div class="my-3">
            {% if can_edit %}
            <a href="/projects/{{ project_data._id }}/edit" class="btn btn-outline-secondary">Edit project information <i class="bi bi-pencil-fill"></i></a>
            {% endif %}
            </div>


            {{ project_readme|safe }}
        </div>
    </div>


    <div class="col-12 col-lg-4">
    {% if can_edit %}
    <form method="POST" action="/api/v1/projects/{{ project_data._id }}/new_collection?redirect=%2Fprojects%2F{{ project_data._id }}" enctype="multipart/form-data">
        <fieldset>
            <div class="input-group mb-3">
                <input type="text" name="name" class="form-control" placeholder="Collection name" aria-label="New collection name" aria-describedby="button-addon2">

                <input class="btn btn-primary" type="submit" id="button-addon2" value="Create new collection">

            </div>
        </fieldset>
    </form>
    {% endif %}



    <div class="accordion" id="accordion-collections">
        {% for collection in collections %}
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-{{ collection._id }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ collection._id }}" aria-expanded="true" aria-controls="collapse-{{ collection._id }}">
                {{ collection.identifier | capitalize }} collection {{ "{" ~ collection._id ~ "}" }}
            </button>
            </h2>
            <div id="collapse-{{ collection._id }}" class="accordion-collapse collapse show" aria-labelledby="heading-{{ collection._id }}" data-bs-parent="#accordion-collections">
            <div class="accordion-body">
                {% if can_edit %}
                <h5>Collection actions</h5>
                <a href="/static/image-annotator.html#{{ collection.via_project_string }}" class="btn btn-primary">Annotate dataset</a>

                <hr class="my-3">
                {% endif %}
                <h5>Snapshots</h5>
                {% if can_edit %}
                <a href="/collections/{{ collection._id }}/new-snapshot" class="btn btn-primary">Publish snapshot</a>
                {% endif %}
                {% for snapshot in collection.snapshots|reverse %}
                <div class="mt-3">
                    <div class="card">
                        <div class="card-body">
                            <a href="/snapshots/{{ snapshot._id }}"><h5 class="card-title">{{ snapshot.identifier }}</h5></a>
                            <p class="card-text"><small class="text-muted">{{ "{" ~ snapshot._id ~ "}" }}</small></p>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="mt-3">
                    <p>No data yet!</p>
                </div>
                {% endfor %}
                <hr class="my-3">
                <h5>Samples</h5>
                {% if can_edit %}
                <a href="/runs?connect_to={{ collection._id }}&connect_type=collection&finish_redirect=%2Fprojects%2F{{ project_data._id }}" class="btn btn-primary">Add data run</a>
                {% endif %}
                {% for run in collection.runs|reverse %}
                <div class="mt-3">
                    <div class="card">
                        <div class="card-body">
                            {% if run.identifier %}
                            <a href="/runs/{{ run._id }}"><h5 class="card-title">{{ run.identifier }}</h5></a>
                            <p class="card-text"><small class="text-muted">{{ "{" ~ run._id ~ "}" }}</small></p>
                            {% else %}
                            <a href="/runs/{{ run._id }}"><h5 class="card-title">{{ "{" ~ run._id ~ "}" }}</h5></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="mt-3">
                    <p>No data yet!</p>
                </div>
                {% endfor %}
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>

</div>
</div>
{% endblock %}
