{% extends 'base.html' %}

{% block title %}Workspace{% endblock %}

{% block content %}
<div class="container my-5">
<div class="gx-3 row">
    <div class="col-12 col-lg-8 mb-3">
        <div class="">
            <h1>Workspace</h1>
            <span id="top_text">Upload your raw files here to get started.</span>

            <div class="progress mt-2">
                <div id="top_progress" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
            </div>

            <div class="my-3" style="display:none;">
                <a class="btn btn-outline-secondary" style="display:none;">New folder <i class="bi bi-folder-fill"></i></a>
                <a class="btn btn-outline-secondary" style="display:none;">Get FTP login details <i class="bi bi-hdd-network-fill"></i></a>
                <a href="/api/v1/workspaces/{{ workspace_id }}/destroy" style="display:none;" class="btn btn-danger">Destroy workspace <i class="bi bi-trash-fill"></i></a>
            </div>
        </div>


        <div class="p-4 border rounded mt-3" ondrop="fileDropHandler(event);" ondragover="fileDragOverHandler(event);" id="file_area">
            <span id="no_files_message"><strong>No files yet</strong><br />Drag and drop here to upload files.</span>
        </div>
    </div>


    <div class="col-12 col-lg-4">
        <a class="btn btn-outline-secondary">Suggest more actions <i class="bi bi-stars"></i></a>
        <a class="btn btn-outline-secondary" onclick="startDefinedJob('PROCESS_DEPOSIT');">Deposit files to database <i class="bi bi-database-fill-add"></i></a>
        <div class="p-4 border rounded mt-3" style="display:none;">
            <p>Detected IFCB data, would you like to ingest this dataset?</p>
            <a class="btn btn-primary">Add images to database <i class="bi bi-database-fill-add"></i></a>
        </div>
    </div>

    <div id="pixel_scale_elem" style="visibility: hidden;" class="file-entry"><i class="bi bi-file-earmark"></i><span>undefined</span></div>

</div>
</div>

<input type="hidden" value="{{ workspace_id }}" id="workspace_id"></input>

<script src="/static/page-specific/workspace.js"></script>
{% endblock %}
