{% extends 'base.html' %}

{% block title %}Workspace{% endblock %}

{% block content %}
<div class="container my-5">
<div class="gx-3 row">
    <div class="col-12 col-lg-8 mb-3">
        <div class="">
            <h1>Workspace</h1>
            <span>Upload your raw files here to get started.</span>

            <div class="my-3">
                <a class="btn btn-outline-secondary">New folder <i class="bi bi-folder-fill"></i></a>
                <a class="btn btn-outline-secondary">Get FTP login details <i class="bi bi-hdd-network-fill"></i></a>
                <a href="/api/v1/workspaces/{{ workspace_id }}" class="btn btn-danger">Destroy workspace <i class="bi bi-trash-fill"></i></a>
            </div>
        </div>


        <div class="p-4 border rounded mt-3" ondrop="fileDropHandler(event);" ondragover="fileDragOverHandler(event);" id="file_area">
            <span id="no_files_message"><strong>No files yet</strong><br />Drag and drop here to upload files.</span>
        </div>
    </div>


    <div class="col-12 col-lg-4">
        <a class="btn btn-outline-secondary">Suggest more actions <i class="bi bi-stars"></i></a>
        <div class="p-4 border rounded mt-3" style="display:none;">
            <p>Detected IFCB data, would you like to ingest this dataset?</p>
            <a class="btn btn-primary">Add images to database <i class="bi bi-database-fill-add"></i></a>
        </div>
    </div>

</div>
</div>

<input type="hidden" value="{{ workspace_id }}" id="workspace_id"></input>

<script src="/static/page-specific/workspace.js"></script>
{% endblock %}
