{% extends 'base.html' %}

{% block title %}My workspaces{% endblock %}

{% block content %}
<div class="container my-5">
    <h1>My workspaces</h1>
    <div class="col-lg-8 px-0">

        <a href="/workspaces/new" class="btn btn-primary">Create new workspace</a>

        <hr class="my-4">

        {% for workspace in workspace_list %}
                <div class="mt-3">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ workspace._id }}</h5>
                            <dl>
                                <dt>Last activity</dt>
                                {% if workspace.last_active %}
                                <dd>{{ workspace.last_active }}</dd>
                                {% else %}
                                <dd><em>Never used</em></dd>
                                {% endif %}

                                <dt>Workspace size</dt>
                                {% if workspace.size %}
                                <dd>{{ workspace.size }}</dd>
                                {% else %}
                                <dd><em>Unknown</em></dd>
                                {% endif %}
                            </dl>
                            <a class="btn btn-primary" href="/workspaces/{{ workspace._id }}">Open workspace</a>
                            <a class="btn btn-danger" href="/api/v1/workspaces/{{ workspace._id }}/destroy">Delete workspace</a>
                        </div>
                    </div>
                </div>
        {% else %}

                <div class="mt-3">
                    <p>No workspaces yet!</p>
                </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
